.flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

img {
    width: calc((100% / 4) - 5px * 2);
    z-index: 1;
    height: max-content;
    padding: 5px;
}

img.clicked {
    width: calc(100% - 5px * 2);
    z-index: 3;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--background);
}

img:hover {
    cursor: pointer;
}

.link {
    --link-bg: #FFCC4D;
    --link-color: #212121;
    --link-border: var(--link-bg);

    z-index: 2;
    display: block;
    position: sticky;
    bottom: 15px;
    margin-left: 20%;
    margin-right: 20%;

    font-size: large;
    text-align: center;
    background-color: var(--link-bg);
    color: var(--link-color);

    padding: 10px;
    border: 1px solid var(--link-border);
    border-radius: .25rem;
}

.link:hover {
    --link-bg: #212121;
    --link-color: #FFCC4D;
    --link-border: var(--link-color);
}

section {
    font-size: 20px;
    text-align: left !important;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 20px;
}
