:root{
    /* dark theme is default */
    --background: #212121;
    --text: #FFFFFF;
    --help: #FF7F50;
}

html{
    color: var(--text);
    background-color: var(--background);
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.w-25 {
    width: 25px;
    display: inline-block;
    text-align: center;
}

.help {
    width: 13%;
    top: 15px;
    right: 15px;
    position: absolute;

    background-color: var(--background);
    padding: 10px;
    border: 1px solid var(--help);
    border-radius: .25rem;
}

.help-x {
    position: absolute;
    right: 10px;
    color: var(--help);
}

.click:hover {
    cursor: pointer;
}

th {
    padding-right: 10px;
}

p {
    margin: 0;
    padding: 0;
}
