:root {
    /* dark theme is default */
    --background: #212121;
    --text: #ffffff;
}

html {
    color: var(--text);
    background-color: var(--background);
    overflow: hidden;
}

img.cat {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    height: 100%;
    object-fit: contain;
}
