html{
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.link {
    left: 30px;
    bottom: 30px;
    position: absolute;

    color: var(--normal);
    text-decoration: none;
}

.link:hover {
    cursor: pointer;

    color: var(--hover);
    text-decoration: underline solid var(--hover);
}

.help {
    width: 13%;
    right: 0;
    position: absolute;

    background-color: var(--background);
    padding: 10px;
    border-radius: .25rem;
}

.help:hover {
    cursor: pointer;
}

th {
    padding-right: 10px;
}
