:root{
    /* dark theme is default */
    --background: #212121;
    --text: #FFFFFF;
    --normal: #FFCC4D;
    --hover: #FF7F50;
}

html{
    color: var(--text);
    background-color: var(--background);
}

.link {
    left: 30px;
    bottom: 30px;

    color: var(--normal);
    text-decoration: none;
}

.link.absolute {
    position: absolute;
}

.link.sticky {
    position: sticky;
}

.link:hover {
    cursor: pointer;
    color: var(--hover);
    text-decoration: underline solid var(--hover);
}
